.news_company {
    margin-top: 100px;
    width: 100%;
}

.news_company .news_company_contant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.news_company .one {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news_company .two {
    display: flex;
    align-items: center;
}

.news_company .two img {
    width: 80%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.news_company h1 {
    font-size: 23px;
    font-weight: 400;
    color: var(--blue);
}

.news_company .contant_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news_company .contant_div_box {
    display: flex;
    gap: 15px;
}

.news_company .contant_div h2 {
    font-size: 16px;
    font-weight: 300;
    color: var(--blue);
}

.news_company .contant_div p {
    font-size: 14px;
    font-weight: 300;
    color: var(--black);
}

.news_company .contant_div_link {
    display: flex;
    gap: 15px;
}

.news_company .contant_div .contant_div_link p,
.news_company .contant_div a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 300;
    color: var(--grayW);
    text-decoration: none;
}

.news_company .contant_div a {
    cursor: pointer;
}

.news_company .contant_div a:hover {
    color: var(--blue);
}