.info_page {
    width: 100%;
    background: var(--white);
    padding-bottom: 250px;
}

.info_page .image {
    width: 100%;
    height: 400px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

.info_page .contant {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
}

.info_page .drop {
    transition: drop .3s ease;
}

@keyframes drop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.info_page .drop_trip {
    width: 100%;
    height: 60px;
    padding: 0 24px;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
    border-radius: 20px;
    border: 1px solid var(--gray);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info_page .drop_contant {
    width: 100%;
    height: 60px;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: var(--grayW);
    text-decoration: none;
    margin-bottom: 10px;
}

.info_page h2 {
    font-size: 30px;
    font-weight: 400;
    color: var(--black);
}

.info_page p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #575757;
}
