.header {
    width: 100%;
    height: 80px;
}

.fixet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.header_fixet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    background: #fff;
    z-index: 99999;
}

.header_fixet img {
    width: 190px;
}

.header_fixet .head {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.header_fixet .page {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
    color: var(--black);
    text-decoration: none;
    transition: .2s ease;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.header_fixet .page.active {
    background: var(--gray);
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
}

.header_fixet .page:hover {
    background: var(--gray);
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--blue);
}

.header_fixet .menu {
    border-top: 2px solid var(--blue);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    min-height: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
    animation: about .4s ease;
    z-index: 1;
}

@keyframes about {
    0% {
        top: 160px;
    }

    100% {
        top: 90px;
    }
}

.header_fixet .menu_two,
.header_fixet .menu_one {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header_fixet .menu_one {
    border-right: 1px solid var(--gray);
}

.header_fixet .page_menu_div,
.header_fixet .page_menu {
    border-top: 1px solid var(--gray);
    border-bottom: 2px solid #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    transition: .2s ease;
}

.header_fixet .page_menu:hover {
    background: var(--gray);
    border-bottom: 2px solid var(--blue);
}

.header_fixet .page_menu.f {
    border-bottom: 1px solid var(--gray);
}

.header_fixet .pages_head {
    height: 100%;
    position: relative;
}

.header_fixet .pagereg {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header_fixet .register {
    border-radius: 5px;
    padding: 10px;
    color: var(--white);
    background: var(--blue);
}

.header_fixet .pages {
    height: 100%;
    position: relative;
}

.header_fixet .menu.d {
    display: grid;
    grid-template-columns: 1fr;
    width: 200px;
}

.header_fixet .page_menu_div,
.header_fixet .page_menu_div {
    font-weight: 500;
    border: none;
}