.header {
    width: 100%;
    height: 80px;
}

.fixet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.header_fixet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 99999;
}

.header_fixet img {
    width: 190px;
}

.header_fixet .head {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.header_fixet .head_relative {
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.header_fixet .page {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
    color: var(--black);
    text-decoration: none;
    transition: .2s ease;
}

.header_fixet .page.link {
    color: var(--gray);
}

.header_fixet .page.active {
    color: var(--blue);
}

.header_fixet .page:hover {
    color: var(--blue);
}

.header_fixet .menu {
    position: absolute;
    top: 70px;
    left: 0;
    min-height: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    animation: about .2s ease;
    z-index: 1;
    padding: 20px;
    border-radius: 24px;
    border: 1px solid #E8E8E8;
    background: var(--white);
    box-shadow: 0px 1px 9.4px 0px rgba(222, 222, 222, 0.10), 0px 5px 20px 0px rgba(194, 194, 194, 0.09), 0px 10px 6px 0px rgba(221, 221, 224, 0.05), 0px 19px 7px 0px rgba(134, 134, 134, 0.01), 0px 29px 8px 0px rgba(0, 0, 0, 0.00);
}

@keyframes about {
    0% {
        top: 130px;
    }

    100% {
        top: 70px;
    }
}

.header_fixet .menu_two,
.header_fixet .menu_one {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.header_fixet .logo {
    height: 100%;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: var(--blue);
    display: flex;
    align-items: center;
    gap: 15px;
}

.header_fixet .page_menu_div,
.header_fixet .page_menu {
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: var(--black);
    transition: .2s ease;
    padding: 5px 10px;
}

.header_fixet .page_menu:hover {
    color: var(--blue);
    background: var(--grayW);
    border-radius: 3px;
}

.header_fixet .pages_head {
    height: 100%;
    position: relative;
}

.header_fixet .pagereg {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header_fixet .login {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_fixet .register {
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--white);
    background: var(--blue);
}

.header_fixet .pages {
    height: 100%;
    position: relative;
}

.header_fixet .menu.d {
    left: -80px;
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
}

.header_fixet .page_menu_div,
.header_fixet .page_menu_div {
    font-weight: 500;
    border: none;
    margin-bottom: 10px;
}

.header_fixet .profile_image {
    width: 45px !important;
    height: 45px !important;
}

.header_fixet .container.two {
    display: none;
}

.header_fixet .burger {
    width: 40px;
    height: 40px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 9px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.header_fixet .burger div {
    width: 100%;
    height: 2px;
    background: var(--black);
    border-radius: 8px;
}

.header_fixet .title_burger {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}

.header_fixet .login {
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--white);
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    margin-left: auto;
    cursor: pointer;
}

.header_fixet .menu_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1111;
}

.header_fixet .menu_not {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background: rgba(124, 122, 122, 0.20);
    backdrop-filter: blur(10px);
    animation: focus .4s ease;
}

@keyframes focus {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header_fixet .menu_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background: var(--white);
    z-index: 999;
    animation: menuModal .5s ease;
    padding: 40px 16px;
}

@keyframes menuModal {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

.header_fixet .menu_group {
    margin-left: 16px;
    margin-bottom: 30px;
    animation: menuModalGroup .5s ease;
}

@keyframes menuModalGroup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header_fixet .menu_link {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
}

.header_fixet .menu_link:active {
    color: var(--blue);
}

.header_fixet .menu_link.active {
    color: var(--blue);
}

.header_fixet .menu_big {
    margin-top: 20px;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 10px;
}

.header_fixet .menu_small {
    margin-top: 2px;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 300;
    color: var(--black);
}

.header_fixet .menu_link.active .menu_close_icon {
    color: var(--blue);
}

.header_fixet .menu_open_icon {
    font-size: 20px;
    color: var(--black);
}

.header_fixet .menu_close_icon {
    font-size: 20px;
    color: var(--black);
}

.header_fixet .close {
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 30px;
    color: var(--gray);
}

@media (max-width: 600px) {
    .header_fixet .container.one {
        display: none;
    }

    .header_fixet .container.two {
        display: flex;
        align-items: center;
    }

    .header_fixet {
        padding: 16px 0;
        background: var(--blue);
        box-shadow: 0px 1px 10px 0px rgba(86, 86, 86, 0.15);
    }

}