.footer {
    width: 100%;
    background: var(--blue);
    padding: 40px 0;
}

.footer .logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer .foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.footer h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
}

.footer .foot_text {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: .3s ease;
}

p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    transition: .3s ease;
}

.footer .foot_text:hover {
    margin-left: 10px;
}

.footer .foot_div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .icons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    gap: 15px;
}

.footer .icons .icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
}

.footer .all {
    margin-top: 70px;
}

@media (max-width: 600px) {
    .footer .foot {
        display: flex;
        flex-direction: column;
        gap: 45px;
    }

    .footer .all {
        display: none;
    }

    .footer .logo {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 14px;
    }

    .footer .icons {
        margin-top: 14px;
    }

    .footer h4 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    .footer .foot_div {
        gap: 8px;
    }
}