.search {
    width: 100%;
}

.search .slider {
    width: 100%;
    height: 250px;
}

.search .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.search .search_block {
    width: 100%;
    padding: 50px 15px;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search .search_div {
    display: flex;
}

.search input {
    padding: 0 10px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.search button {
    padding: 0 10px;
    background: var(--blue);
    border-radius: 3px;
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border: none;
    cursor: pointer;
}